/* APP CSS */

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
}
body	{	
	margin:0;
	padding:0;
	border:0;
	/*background-image:url(images/main_bg2.jpg);*/
	background-color:#ffffff;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size:16px;
	color:#000000;
	text-align:center;
	min-width:1000px;
}
#main-header {
	width:100%;
	height:110px;
	position:fixed; 
	top:0;
	left:0;
	right:0;
	background-color:#ffffff;
	z-index:11;
}
#modal {
	display:none;
	background-color:#000000;
	opacity:0.35;
	position:absolute;
	z-index:100;
	top:0px;
	left:0px;
	width:100%;
}
#message {
	min-height:25px;
	padding:25px;
}
#popupmessage {
	display:none;
	position:fixed;
	z-index:101;
	width:600px;
	text-align:center;
	background-color:#ffffff;
	border:2px solid #ff0000;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-box-shadow:2px 2px 24px #000000;
	/* for FireFox 3.6+ */
	-moz-box-shadow:2px 2px 24px #000000;
	/* for IE 5.5 - 9 */
	box-shadow:2px 2px 24px #000000;
}
#policy-popup {
	display:none;
	background-color:#000000;
	opacity:0.35;
	position:absolute;
	z-index:80;
	top:0px;
	left:0px;
	width:100%;
}
#policy-window {
	display:none;
	position:fixed;
	z-index:81;
	width:800px;
	text-align:center;
	background-color:#ffffff;
	border:2px solid #ff0000;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-box-shadow:2px 2px 24px #000000;
	/* for FireFox 3.6+ */
	-moz-box-shadow:2px 2px 24px #000000;
	/* for IE 5.5 - 9 */
	box-shadow:2px 2px 24px #000000;
}
.policy-message {
	font-weight:bold;
	min-height:25px;
	padding:25px 25px 10px 25px;
}
.policy-message p {
	text-align:left;
	font-weight:normal;
	font-size:14px;
}
#policy-edit {
	display:none;
}
#policy-text {
	display:none;
}
#policy-delete {
	display:none;
}
#policy-header {
	width:100%;
	margin:110px 0 0 0;
	height:190px;
	position:fixed; 
	top:0;
	left:0;
	right:0;
	background-color:#ffffff;
	z-index:10;
}
#sub-header {
	width:100%;
	margin:110px 0 0 0;
	height:40px;
	position:fixed; 
	top:0;
	left:0;
	right:0;
	background-color:#a20004;
	z-index:10;
}
footer {
	min-width:900px;
	width:100%;
	height:32px;
	padding:0 0 0 20px;
	position:fixed; 
	bottom:0;
	left:0;
	right:0;
	background-color:#a20004;
	color:#cccccc;
	font-size:12px;
	line-height:32px;
	z-index:10;
	text-align:left;
}
.plain-btn {
    cursor:pointer; 
    width:158px; 
    height:34px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:12px;
	text-align:center;
	line-height:28px;
}
.plain-btn:hover {
	background-color:#000000;
	border:2px solid #000000;
}
.plain-btn-close {
    cursor:pointer; 
    width:158px; 
    height:34px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:12px;
	text-align:center;
	line-height:28px;
}
.plain-btn-close:hover {
	background-color:#000000;
	border:2px solid #000000;
}
button {
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
	font-size:12px;
	margin:6px 0 0 0;
	padding:4px 2px;
	border:solid 2px #ff0000;
	width:120px;
	-webkit-appearance:none;
	border-radius:0;
	resize:none; 
}

/*
input[type=checkbox]:not(old),
input[type=radio]:not(old){
	width:32px;
	margin:0;
	padding:0;
	font-size:16px;
	opacity:0;
	-webkit-appearance:none;
}

input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label{
	display:inline-block;
	margin-left:-45px;
	line-height:24px;
	font-size:13px;
	color:#333333;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio]:not(old) + label > span{
	display:inline-block;
	width:14px;
	height:14px;
	margin:0 8px 4px 4px;
	border:2px solid #ff0000;
	background-color:#ffffff;
	vertical-align:bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio]:not(old):checked + label > span{
	background-color:#a20004;
}

input[type=checkbox]:not(old):checked + label > span:before{
	content:'✓';
	display:block;
	margin-left:2px;
	width:12px;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
}

input[type=radio]:not(old):checked + label > span > span{
	display:block;
	width:10px;
	height:10px;
	border:2px solid #ffffff;
}
*/

#top {
	float:right;
	width:115px;
	font-size:12px;
	color:#ffffff;
	text-decoration:none;
	cursor:pointer;
}

#top:hover {
	text-decoration:underline;
}

::-ms-clear { display: none; }

/* ///////////////// DIVISION LAYOUTS /////////////////// */

#menu {
	margin:0 auto 0 auto;
	width:900px;
	height:110px;
	background-color:#ffffff;
}

#sub-menu {
	clear:both;
	background-color:#a20004;
	min-width:900px;
	height:220px;
}

#logo {
	float:left;
	width:196px;
	height:110px;
	cursor:pointer;
}

.home-logo {
	margin:10px 0 0 0;
	width:176px;
	height:84px;
	border:0;
}

#agency-name {
	padding:0 0 0 25px;
	width:470px;
	height:25px;
	float:left;
	text-align:left;
	font-size:16px;
	font-weight:bold;
	line-height:28px;
}

#user-name {
	width:205px;
	height:25px;
	float:left;
	text-align:right;
	font-size:14px;
	line-height:26px;
}

#main-buttons {
	float:left;
	width:700px;
	height:85px;
	text-align:left;
}

.main-button {
	float:left;
	margin:4px 0 0 20px;
	width:75px;
	height:70px;
	background-color:#ffffff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #cccccc;
	cursor:pointer;
}

.main-button:hover {
	background-color:#cccccc;
}

.main-btn-text {
	color:#000000;
	font-size:12px;
	text-align:center;
}

.main-btn-icon {
	margin:4px 0 0 8px;
	width:60px;
	height:45px;
	border:0;
}

#sub-buttons {
	margin:0 auto 0 auto;
	width:905px;
	height:85px;
}

.sub-button {
	float:left;
	margin:8px 0 0 20px;
	width:75px;
	height:70px;
	background-color:#a20004;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	cursor:pointer;
	border:2px solid #ffffff;
}

.sub-button:hover {
	background-color:#000000;
}

.sub-btn-text {
	color:#ffffff;
	font-size:12px;
	text-align:center;
}

.sub-btn-icon {
	margin:4px 0 0 0;
	width:60px;
	height:45px;
	border:0;
}

#search-area {
	margin:10px auto 5px auto;
	width:890px;
	clear:both;
	height:40px;
	padding:5px;
	background-color:#cccccc;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	text-align:left;
	font-size:14px;
	color:#333333;
	line-height:38px;
}

.date-pickers {
	width:83px;
	margin:0 0 0 5px;
	float:left;
	text-align:right;
	color:#a20004;
}	

	#datepick1 {
		float:left;
		display:inline-block;
		padding:0 8px 0 8px;
		margin:3px 0 0 5px;
		cursor:pointer; 
		width:70px; 
		height:30px;
		font-size:12px;
		background-color:#ffffff;
		color:#000000;
		border:2px solid #a20004;
		/* for Chrome 10+ and Safari 5+ */
		-webkit-border-radius:10px;
		/* for FireFox 3.6 - 12 */
		-moz-border-radius:10px;
		/* for IE 5.5 - 9 & firefox 13+ */
		border-radius:10px;
	}

	#datepick2 {
		float:left;
		display:inline-block;
		padding:0 8px 0 8px;
		margin:3px 0 0 10px;
		cursor:pointer; 
		width:70px; 
		height:30px;
		font-size:12px;
		background-color:#ffffff;
		color:#000000;
		border:2px solid #a20004;
		/* for Chrome 10+ and Safari 5+ */
		-webkit-border-radius:10px;
		/* for FireFox 3.6 - 12 */
		-moz-border-radius:10px;
		/* for IE 5.5 - 9 & firefox 13+ */
		border-radius:10px;
	}

#pre-dates {
	float:left;
	margin:3px 2px 0 8px;
	padding:0 0 0 8px;
    cursor:pointer; 
    width:158px; 
    height:34px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:12px;
	text-align:left;
	line-height:30px;
}

#pre-dates:hover {
    background-color:#000000;
    border:2px solid #000000;
}

#pre-dates-container {
	display:none;
	margin:40px 0 0 8px;
	position:absolute;
	z-index:20;
	background-color:#ffffff;
	color:#333333;
	border:2px solid #ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	padding:5px;
	width:318px;
	height:285px;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-box-shadow: 1px 3px 8px #666666;
	/* for FireFox 3.6+ */
	-moz-box-shadow: 1px 3px 8px #666666;
	/* for IE 5.5 - 9 */
	box-shadow: 1px 3px 8px #666666;
}

.pre-dates-btn {
	float:left;
	margin:3px 2px 0 5px;
    cursor:pointer; 
    width:150px; 
    height:28px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:8px;
	font-size:12px;
	text-align:center;
	line-height:20px;
}

.pre-dates-btn:hover {
    background-color:#000000;
    border:2px solid #000000;
}

#filter-container {
	display:none;
	margin:40px 0 0 600px;
	position:absolute;
	z-index:20;
	background-color:#ffffff;
	color:#333333;
	border:2px solid #ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	padding:10px 5px 5px 0;
	width:275px;
	height:96px;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-box-shadow: 1px 3px 8px #666666;
	/* for FireFox 3.6+ */
	-moz-box-shadow: 1px 3px 8px #666666;
	/* for IE 5.5 - 9 */
	box-shadow: 1px 3px 8px #666666;
}

.filter-checkboxes {
	float:left;
	width:250px;
	margin:0 0 0 10px;
	padding:5px;
	font-size:12px;
	background-color:#cccccc;
	line-height:22px;
	text-align:center;
}

.filter-checkboxes-left {
	float:left;
	width:100px;
	padding:5px 5px 10px 15px;
	font-size:12px;
	background-color:transparent;
	line-height:22px;
	text-align:left;
}

.filter-checkboxes-right {
	float:right;
	width:90px;
	padding:5px 15px 10px 5px;
	font-size:12px;
	background-color:transparent;
	line-height:22px;
	text-align:left;
}

.filter-dates {
	margin:4px 4px 4px 6px;
	padding:5px;
	font-size:12px;
	background-color:#cccccc;
	line-height:22px;
	text-align:center;
}

.filter-btn {
	float:left;
	margin:3px 2px 0 65px;
    cursor:pointer; 
    width:190px; 
    height:26px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:8px;
	font-size:12px;
	text-align:center;
}

.filter-btn:hover {
    background-color:#000000;
    border:2px solid #000000;
}

.filter-dropdown {
	color:#ffffff;
	width:120px;
	padding:5px;
	font-size:12px;
	line-height:12px;
	border:0;
	border-radius:5px;
	height:24px;
	-webkit-appearance: none;
	background:url(/public/img/dropdown_arrow.png) no-repeat right #a20004;
}

#field {
    float:left; 
    margin:3px 8px 0 10px;
    width:200px; 
    height:28px;
    padding:1px;
    text-indent:10px;
    font-size:12px; 
    background-color:#ffffff; 
    border-top:2px solid #a20004;
    border-bottom:2px solid #a20004;
    border-left:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-top-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius-topleft:10px;
	-moz-border-radius-bottomleft:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}

#dosubmit {
	float:left;
	margin:3px 2px 0 -12px;
    cursor:pointer; 
    padding:0;
    width:50px; 
    height:34px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
    /* for Chrome 10+ and Safari 5+ */
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomright:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	line-height:24px;
}

#dosubmit:hover {
    background-color:#000000;
    border:2px solid #000000;
}

#advanced-search {
	float:left;
	margin:3px 2px 0 8px;
	padding:0 0 0 8px;
    cursor:pointer; 
    width:160px; 
    height:34px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:12px;
	text-align:left;
	line-height:30px;
}

#advanced-search:hover {
    background-color:#000000;
    border:2px solid #000000;
}

.search-btn-icon {
	float:right;
	margin:0 6px 0 0;
	vertical-align:middle;
	width:33px;
	height:28px;
	border:0;
}

#status-title {
	font-size:14px;
	color:#ffffff;
}

#status-area {
	margin:12px auto 5px auto;
	width:880px;
	clear:both;
	height:40px;
	padding:5px 5px 5px 10px;
	background-color:#a20004;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #ffffff;
	font-size:13px;
	color:#ffffff;
	line-height:18px;
}

.status-text {
	float:left;
	margin:0 25px 0 0;
	width:200px;
	color:#cccccc;
}

.status-text-right {
	float:right;
	width:200px;
	color:#cccccc;
}

.status-item {
	font-weight:bold;
	color:#ffffff;
}

#policy-content {
	clear:both;
	margin:360px 0 32px 0;
}

.policy-listing-button {
	margin:5px 0 5px 0;
	vertical-align:middle;
	width:28px;
	height:28px;
	border:0;
	cursor:pointer;
}

a.status-link,  a.status-link:visited {
	color:#ffffff;
	text-decoration:underline;
	cursor:pointer;
}
a.status-link:hover {
	color:#ffffff;
	text-decoration:none;
}

.table-container {
	margin:0 auto 0 auto;
    display:table;
    width:100%;
    border-collapse:collapse;
	font-size:12px;
}

.heading {
     display:table-row;
     text-align:center;
     line-height:30px;
	position:fixed;
	min-width:1000px;
	width:100%;
}

.table-row {
     display:table-row;
     text-align:center;
}

.table-row-alt {
     display:table-row;
     text-align:center;
	background-color:#cccccc;
}

.heading .col {
	display:table-cell;
	background-color:#a20004;
	color:#ffffff;
}

.sort-text {
	font-size:12px;
	color:#cccccc;
}

a.sort-link,  a.sort-link:visited {
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	cursor:pointer;
}
a.sort-link:hover {
	color:#ffffff;
	text-decoration:none;
}

.sort-link-asc:before {
	content:'▲';
	font-size:10px;
	color:#ffffff;
}
a.sort-link-asc,  a.sort-link-asc:visited {
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	cursor:pointer;
}
a.sort-link-asc:hover {
	color:#ffffff;
	text-decoration:none;
}
.sort-link-desc {
	font-size:12px;
	color:#ffffff;
}
.sort-link-desc:before {
	content:'▼';
	font-size:10px;
	color:#ffffff;
}
a.sort-link-desc,  a.sort-link-desc:visited {
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	cursor:pointer;
}
a.sort-link-desc:hover {
	color:#ffffff;
	text-decoration:none;
}
.col {
	display:table-cell;
}

a.policy-desc-action,  a.policy-desc-action:visited {
	font-size:12px;
	color:#000000;
	text-decoration:underline;
	cursor:pointer;
}
a.policy-desc-action:hover {
	color:#000000;
	text-decoration:none;
}
.edit-table-container {
	margin:0 auto 0 auto;
    display:table;
    width:100%;
    border-collapse:collapse;
}
.edit-heading {
     display:table-row;
     text-align:center;
}
.edit-table-row {
     display:table-row;
     text-align:center;
}
.edit-heading .edit-col {
	display:table-cell;
	background-color:#a20004;
	color:#ffffff;
}
.edit-col {
	text-align:right;
	display:table-cell;
	padding:5px;
	background-color:#cccccc;
	font-size:14px;
	line-height:32px;
}
.edit-col select {
	float:left;
}
.edit-left-box {
	float:left;
	width:450px;
	margin:0 0 0 20px;
}
.edit-right-box {
	float:left;
	width:310px;
}
.policy-entry-field {
	margin:0 0 10px 0;
	text-align:left;
	font-size:14px;
}
#policy-add {
	display:none;
}
#policy-save {
	display:none;
}











#dashboard-content {
	clear:both;
	margin:160px 0 32px 0;
	min-height:600px;
}

#payroll-content {
	clear:both;
	margin:160px 0 32px 0;
	min-height:600px;
}

#myagency-content {
	clear:both;
	margin:160px 0 32px 0;
	min-height:600px;
}

#support-content {
	clear:both;
	margin:160px 0 32px 0;
	min-height:600px;
}














#resend {
	margin:0 auto 0 auto;
	text-align:center;
}

#resend .plain-btn {
	float:none;
	margin:0 auto;
	clear:both;
	cursor:pointer; 
	width:230px; 
	height:45px; 
	background-color:#a20004;
	color:#ffffff;
	border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:18px;
	line-height:40px;
}
#resend .plain-btn:hover {
	background-color:#000000;
	border:2px solid #000000;
}
