/* APP CSS */

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
}
body	{	
	margin:0;
	padding:0;
	border:0;
	/*background-image:url(images/main_bg2.jpg);*/
	background-color:#ffffff;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size:16px;
	color:#000000;
	text-align:center;
	min-width:1000px;
}
sup {
	font-weight:normal;
	font-size:20px;
	color:#ff0000;
	line-height:0;
}
h1 {
	margin:5px 0 -12px 0;
	line-height:36px;
	font-size:16px;
	font-weight:normal;
}
.chargeback {
	font-weight:normal;
	color:#ff0000;
}
#main-header {
	width:100%;
	height:110px;
	position:fixed; 
	top:0;
	left:0;
	right:0;
	background-color:#ffffff;
	z-index:11;
}
#modal {
	display:none;
	background-color:#000000;
	opacity:0.35;
	position:absolute;
	z-index:100;
	top:0px;
	left:0px;
	width:100%;
}
#message {
	min-height:25px;
	padding:25px;
}
#popupmessage {
	display:none;
	position:fixed;
	z-index:101;
	width:600px;
	text-align:center;
	background-color:#ffffff;
	border:2px solid #ff0000;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-box-shadow:2px 2px 24px #000000;
	/* for FireFox 3.6+ */
	-moz-box-shadow:2px 2px 24px #000000;
	/* for IE 5.5 - 9 */
	box-shadow:2px 2px 24px #000000;
}
#policy-popup {
	display:none;
	background-color:#000000;
	opacity:0.35;
	position:absolute;
	z-index:80;
	top:0px;
	left:0px;
	width:100%;
}
#policy-window {
	display:none;
	position:fixed;
	z-index:81;
	width:800px;
	text-align:center;
	background-color:#ffffff;
	border:2px solid #ff0000;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-box-shadow:2px 2px 24px #000000;
	/* for FireFox 3.6+ */
	-moz-box-shadow:2px 2px 24px #000000;
	/* for IE 5.5 - 9 */
	box-shadow:2px 2px 24px #000000;
}
.policy-message {
	display:none;
	margin:0 20px 10px 20px;
	font-size:20px;
	font-weight:bold;
	min-height:25px;
	padding:10px 25px 10px 25px;
	border-bottom:2px solid #cccccc;
}
.policy-text-box {
	padding:0 45px 0 45px;
	text-align:left;
	font-weight:normal;
	font-size:14px;
}
.policy-required-key {
	margin:50px 0 0 680px;
	position:absolute;
	font-size:11px;
	font-weight:bold;
}
#policy-edit {
	display:none;
}
#policy-text {
	display:none;
}
#policy-delete {
	display:none;
}
.policy-delete-box {
	margin:20px 45px 0 45px;
	padding:10px;
	text-align:center;
	font-weight:normal;
	font-size:14px;
}
#policy-renewal {
	display:none;
}
#policy-do-renew {
	display:none;
}
#policy-renew-cancel {
	display:none;
}
#policy-reinstate {
	display:none;
}
#policy-header {
	width:100%;
	margin:110px 0 0 0;
	position:fixed; 
	top:0;
	left:0;
	right:0;
	background-color:#ffffff;
	z-index:10;
}
#commissions-header {
	width:100%;
	margin:100px 0 0 0;
	position:fixed; 
	top:0;
	left:0;
	right:0;
	background-color:#ffffff;
	z-index:10;
}
#myagency-header {
	width:100%;
	margin:110px 0 0 0;
	position:fixed; 
	top:0;
	left:0;
	right:0;
	background-color:#ffffff;
	z-index:10;
}
#sub-header {
	width:100%;
	margin:110px 0 0 0;
	height:40px;
	position:fixed; 
	top:0;
	left:0;
	right:0;
	background-color:#a20004;
	z-index:10;
}
footer {
	min-width:900px;
	width:100%;
	height:32px;
	padding:0 0 0 20px;
	position:fixed; 
	bottom:0;
	left:0;
	right:0;
	background-color:#a20004;
	color:#cccccc;
	font-size:12px;
	line-height:32px;
	z-index:10;
	text-align:left;
}
.plain-btn {
    cursor:pointer; 
    width:158px; 
    height:34px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:12px;
	text-align:center;
	line-height:28px;
}
.plain-btn:hover {
	background-color:#000000;
	border:2px solid #000000;
}
.plain-btn-close {
    cursor:pointer; 
    width:158px; 
    height:34px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:12px;
	text-align:center;
	line-height:28px;
}
.plain-btn-close:hover {
	background-color:#000000;
	border:2px solid #000000;
}
.plain-btn-erase {
    cursor:pointer; 
    width:158px; 
    height:34px; 
    background-color:#cccccc;
    color:#000000;
    border:2px solid #cccccc;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:12px;
	text-align:center;
	line-height:28px;
}
.plain-btn-erase:hover {
	background-color:#000000;
	border:2px solid #000000;
	color:#ffffff;
}
.plain-btn-erase-disabled {
    width:158px; 
    height:34px; 
    background-color:#cccccc;
    color:#000000;
    border:2px solid #cccccc;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:12px;
	text-align:center;
	line-height:28px;
	opacity:0.5;
}
.plain-btn-disabled {
    width:158px; 
    height:34px; 
    background-color:#cccccc;
    color:#000000;
    border:2px solid #cccccc;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:12px;
	text-align:center;
	line-height:28px;
	opacity:0.5;
}
button {
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
	font-size:12px;
	margin:6px 0 0 0;
	padding:4px;
	border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	width:120px;
	height:25px;
	-webkit-appearance:none;
	resize:none; 
}

/*
input[type=checkbox]:not(old),
input[type=radio]:not(old){
	width:32px;
	margin:0;
	padding:0;
	font-size:16px;
	opacity:0;
	-webkit-appearance:none;
}

input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label{
	display:inline-block;
	margin-left:-45px;
	line-height:24px;
	font-size:13px;
	color:#333333;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio]:not(old) + label > span{
	display:inline-block;
	width:14px;
	height:14px;
	margin:0 8px 4px 4px;
	border:2px solid #ff0000;
	background-color:#ffffff;
	vertical-align:bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio]:not(old):checked + label > span{
	background-color:#a20004;
}

input[type=checkbox]:not(old):checked + label > span:before{
	content:'✓';
	display:block;
	margin-left:2px;
	width:12px;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
}

input[type=radio]:not(old):checked + label > span > span{
	display:block;
	width:10px;
	height:10px;
	border:2px solid #ffffff;
}
*/

#top {
	float:right;
	width:115px;
	font-size:12px;
	color:#ffffff;
	text-decoration:none;
	cursor:pointer;
}

#top:hover {
	text-decoration:underline;
}

::-ms-clear { display: none; }

/* ///////////////// DIVISION LAYOUTS /////////////////// */

#menu {
	margin:0 auto 0 auto;
	width:900px;
	height:110px;
	background-color:#ffffff;
}

#sub-menu {
	clear:both;
	background-color:#a20004;
	min-width:900px;
	height:220px;
}

#sub-menu-short {
	clear:both;
	background-color:#a20004;
	min-width:900px;
	height:95px;
}

#logo {
	float:left;
	width:196px;
	height:110px;
	cursor:pointer;
}

.home-logo {
	margin:10px 0 0 0;
	width:176px;
	height:84px;
	border:0;
}

#agency-name {
	padding:0 0 0 25px;
	width:470px;
	height:25px;
	float:left;
	text-align:left;
	font-size:16px;
	font-weight:bold;
	line-height:28px;
}

#user-name {
	width:205px;
	height:25px;
	float:left;
	text-align:right;
	font-size:14px;
	line-height:26px;
}

#main-buttons {
	float:left;
	width:700px;
	height:85px;
	text-align:left;
}

.main-button {
	float:left;
	margin:4px 0 0 20px;
	width:75px;
	height:70px;
	background-color:#ffffff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #cccccc;
	cursor:pointer;
}

.main-button:hover {
	background-color:#cccccc;
}

.main-btn-text {
	color:#000000;
	font-size:12px;
	text-align:center;
}

.main-btn-icon {
	margin:4px 0 0 8px;
	width:60px;
	height:45px;
	border:0;
}

#sub-buttons {
	margin:0 auto 0 auto;
	width:905px;
	height:85px;
}

.sub-button {
	float:left;
	margin:8px 0 0 20px;
	width:75px;
	height:70px;
	background-color:#a20004;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	cursor:pointer;
	border:2px solid #ffffff;
}

.sub-button:hover {
	background-color:#000000;
}

.sub-button-wide {
	float:left;
	margin:8px 0 0 20px;
	width:199px;
	height:70px;
	background-color:#a20004;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	cursor:pointer;
	border:2px solid #ffffff;
}

.sub-button-wide:hover {
	background-color:#000000;
}

.sub-btn-text {
	color:#ffffff;
	font-size:12px;
	text-align:center;
}

.sub-btn-icon {
	margin:4px 0 0 0;
	width:60px;
	height:45px;
	border:0;
}

#search-area {
	margin:10px auto 5px auto;
	width:890px;
	clear:both;
	height:40px;
	padding:5px;
	background-color:#cccccc;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	text-align:left;
	font-size:14px;
	color:#333333;
	line-height:38px;
}

.date-pickers {
	width:83px;
	margin:0 0 0 5px;
	float:left;
	text-align:right;
	color:#a20004;
}	

	#datepick1 {
		float:left;
		display:inline-block;
		padding:0 8px 0 8px;
		margin:3px 0 0 5px;
		cursor:pointer; 
		width:70px; 
		height:30px;
		font-size:12px;
		background-color:#ffffff;
		color:#000000;
		border:2px solid #a20004;
		/* for Chrome 10+ and Safari 5+ */
		-webkit-border-radius:10px;
		/* for FireFox 3.6 - 12 */
		-moz-border-radius:10px;
		/* for IE 5.5 - 9 & firefox 13+ */
		border-radius:10px;
	}

	#datepick2 {
		float:left;
		display:inline-block;
		padding:0 8px 0 8px;
		margin:3px 0 0 10px;
		cursor:pointer; 
		width:70px; 
		height:30px;
		font-size:12px;
		background-color:#ffffff;
		color:#000000;
		border:2px solid #a20004;
		/* for Chrome 10+ and Safari 5+ */
		-webkit-border-radius:10px;
		/* for FireFox 3.6 - 12 */
		-moz-border-radius:10px;
		/* for IE 5.5 - 9 & firefox 13+ */
		border-radius:10px;
	}

#pre-dates {
	float:left;
	margin:3px 2px 0 8px;
	padding:0 0 0 8px;
    cursor:pointer; 
    width:160px; 
    height:34px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:12px;
	text-align:left;
	line-height:30px;
}

#pre-dates:hover {
    background-color:#000000;
    border:2px solid #000000;
}

#pre-dates-container {
	display:none;
	margin:40px 0 0 8px;
	position:absolute;
	z-index:20;
	background-color:#ffffff;
	color:#333333;
	border:2px solid #ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	padding:5px;
	width:318px;
	height:285px;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-box-shadow: 1px 3px 8px #666666;
	/* for FireFox 3.6+ */
	-moz-box-shadow: 1px 3px 8px #666666;
	/* for IE 5.5 - 9 */
	box-shadow: 1px 3px 8px #666666;
}

.pre-dates-btn {
	float:left;
	margin:3px 2px 0 5px;
    cursor:pointer; 
    width:150px; 
    height:28px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:8px;
	font-size:12px;
	text-align:center;
	line-height:20px;
}

.pre-dates-btn:hover {
    background-color:#000000;
    border:2px solid #000000;
}

#filter-container {
	display:none;
	margin:40px 0 0 600px;
	position:absolute;
	z-index:20;
	background-color:#ffffff;
	color:#333333;
	border:2px solid #ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	padding:10px 5px 5px 0;
	width:275px;
	height:96px;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-box-shadow: 1px 3px 8px #666666;
	/* for FireFox 3.6+ */
	-moz-box-shadow: 1px 3px 8px #666666;
	/* for IE 5.5 - 9 */
	box-shadow: 1px 3px 8px #666666;
}

.filter-checkboxes {
	float:left;
	width:250px;
	margin:0 0 0 10px;
	padding:5px;
	font-size:12px;
	background-color:#cccccc;
	line-height:22px;
	text-align:center;
}

.filter-checkboxes-left {
	float:left;
	width:100px;
	padding:5px 5px 10px 15px;
	font-size:12px;
	background-color:transparent;
	line-height:22px;
	text-align:left;
}

.filter-checkboxes-right {
	float:right;
	width:90px;
	padding:5px 15px 10px 5px;
	font-size:12px;
	background-color:transparent;
	line-height:22px;
	text-align:left;
}

.filter-dates {
	margin:4px 4px 4px 6px;
	padding:5px;
	font-size:12px;
	background-color:#cccccc;
	line-height:22px;
	text-align:center;
}

.filter-btn {
	float:left;
	margin:3px 2px 0 65px;
    cursor:pointer; 
    width:190px; 
    height:26px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:8px;
	font-size:12px;
	text-align:center;
}

.filter-btn:hover {
    background-color:#000000;
    border:2px solid #000000;
}

.filter-dropdown {
	color:#ffffff;
	width:120px;
	padding:5px;
	font-size:12px;
	line-height:12px;
	border:0;
	border-radius:5px;
	height:24px;
	-webkit-appearance: none;
	background:url(/public/img/dropdown_arrow.png) no-repeat right #a20004;
}

#field {
    float:left; 
    margin:3px 8px 0 10px;
    width:224px; 
    height:28px;
    padding:1px;
    text-indent:10px;
    font-size:12px; 
    background-color:#ffffff; 
    border-top:2px solid #a20004;
    border-bottom:2px solid #a20004;
    border-left:2px solid #a20004;
	border-radius:0;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-top-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius-topleft:10px;
	-moz-border-radius-bottomleft:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}

#dosubmit {
	float:left;
	margin:3px 2px 0 -12px;
    cursor:pointer; 
    padding:0;
    width:50px; 
    height:34px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
    /* for Chrome 10+ and Safari 5+ */
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomright:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	line-height:24px;
}

#dosubmit:hover {
    background-color:#000000;
    border:2px solid #000000;
}

#dosubmit2 {
	float:right;
	margin:3px 2px 0 2px;
    cursor:pointer; 
    padding:0;
    width:50px; 
    height:34px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
    /* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	line-height:24px;
}

#dosubmit2:hover {
    background-color:#000000;
    border:2px solid #000000;
}

#advanced-search {
	float:left;
	margin:3px 2px 0 8px;
	padding:0 0 0 8px;
    cursor:pointer; 
    width:134px; 
    height:34px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:12px;
	text-align:left;
	line-height:30px;
}

#advanced-search:hover {
    background-color:#000000;
    border:2px solid #000000;
}

.search-btn-icon {
	float:right;
	margin:0 6px 0 0;
	vertical-align:middle;
	width:33px;
	height:28px;
	border:0;
}

#status-title {
	font-size:14px;
	color:#ffffff;
}

.sub-title {
	padding:10px 0 0 0;
	font-size:16px;
	color:#ffffff;
	font-weight:bold;
}

#status-area {
	margin:12px auto 5px auto;
	width:880px;
	clear:both;
	height:40px;
	padding:5px 5px 5px 10px;
	background-color:#a20004;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #ffffff;
	font-size:13px;
	color:#ffffff;
	line-height:18px;
}

.status-text-left {
	float:left;
	width:230px;
	color:#cccccc;
	line-height:25px;
}

.status-text {
	float:left;
	margin:0 25px 0 0;
	width:200px;
	color:#cccccc;
}

.status-text-right {
	float:right;
	width:200px;
	color:#cccccc;
}

.status-item {
	font-weight:bold;
	color:#ffffff;
}

.status-table-left {
	float:left;
	width:235px;
	text-align:left;
}

.status-table-right {
	margin:4px 0 0 235px;
	width:630px;
}

.status-cell {
	float:left;
	margin:15px 25px 0 0;
	width:100px;
	color:#cccccc;
}

#policy-content {
	clear:both;
	margin:360px 0 32px 0;
}
#commissions-content {
	clear:both;
	margin:328px 0 32px 0;
	text-align:center;
}

.policy-listing-button-edit {
	margin:5px 0 5px 0;
	vertical-align:middle;
	width:28px;
	height:28px;
	border:0;
	cursor:pointer;
}
.policy-listing-button-note {
	margin:5px 0 5px 0;
	vertical-align:middle;
	width:28px;
	height:28px;
	border:0;
	cursor:pointer;
}

a.status-link,  a.status-link:visited {
	color:#ffffff;
	text-decoration:underline;
	cursor:pointer;
}
a.status-link:hover {
	color:#ffffff;
	text-decoration:none;
}

.table-container {
	margin:0 auto 0 auto;
    display:table;
    width:100%;
    border-collapse:collapse;
	font-size:12px;
}

.heading {
     display:table;
     text-align:center;
     line-height:30px;
	position:fixed;
	min-width:1000px;
	width:100%;
}

.table-row {
     display:table-row;
     text-align:center;
}

.table-row-alt {
     display:table-row;
     text-align:center;
	background-color:#cccccc;
}

.heading .col {
	display:table-cell;
	background-color:#a20004;
	color:#ffffff;
}

.table-title {
	font-weight:bold;
	font-size:16px;
}

.sort-text {
	font-size:12px;
	color:#cccccc;
}

a.sort-link,  a.sort-link:visited {
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	cursor:pointer;
}
a.sort-link:hover {
	color:#ffffff;
	text-decoration:none;
}

.sort-link-asc:before {
	content:'▲';
	font-size:10px;
	color:#ffffff;
}
a.sort-link-asc,  a.sort-link-asc:visited {
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	cursor:pointer;
}
a.sort-link-asc:hover {
	color:#ffffff;
	text-decoration:none;
}
.sort-link-desc {
	font-size:12px;
	color:#ffffff;
}
.sort-link-desc:before {
	content:'▼';
	font-size:10px;
	color:#ffffff;
}
a.sort-link-desc,  a.sort-link-desc:visited {
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	cursor:pointer;
}
a.sort-link-desc:hover {
	color:#ffffff;
	text-decoration:none;
}
.col {
	display:table-cell;
	white-space:nowrap;
}

a.policy-desc-action,  a.policy-desc-action:visited {
	font-size:12px;
	color:#000000;
	text-decoration:underline;
	cursor:pointer;
}
a.policy-desc-action:hover {
	color:#000000;
	text-decoration:none;
}
a.policy-edit-action,  a.policy-edit-action:visited {
	font-size:16px;
	color:#000000;
	text-decoration:none;
	cursor:pointer;
}
a.policy-edit-action:hover {
	color:#000000;
	font-weight:bold;
}
#policy_dropdown_cover {
	display:none;
	position:absolute;
	margin:0 0 0 130px;
	width:180px;
	height:240px;
	opacity:0.5;
	background-color:#cccccc;
	z-index:81;
}
.edit-table-container {
	margin:0 auto 0 auto;
    display:table;
    width:100%;
    border-collapse:collapse;
}
.edit-heading {
     display:table-row;
     text-align:center;
}
.edit-table-row {
     display:table-row;
     text-align:center;
}
.edit-heading .edit-col {
	display:table-cell;
	background-color:#a20004;
	color:#ffffff;
}
.edit-col {
	text-align:right;
	display:table-cell;
	padding:3px;
	background-color:#cccccc;
	font-size:13px;
	line-height:30px;
}
.edit-col sup {
	font-size:13px;
}
.edit-col select {
	float:left;
}
.edit-left-box {
	float:left;
	width:450px;
	margin:0 0 0 20px;
}
.edit-right-box {
	margin:0 0 10px 0;
	float:left;
	width:310px;
}
.policy-entry-field {
	margin:0 0 10px 0;
	text-align:left;
	font-size:14px;
}
#policy-add {
	display:none;
}
#policy-save {
	display:none;
}
.modal-icon {
	margin:0 10px 0 0;
	width:60px;
	height:46px;
	vertical-align:middle;
	border:0;
}
#premiumdate {
	display:inline-block;
	padding:4px 8px 4px 8px;
	margin:6px 0 0 0;
	cursor:pointer; 
	width:100px; 
	height:25px;
	font-size:12px;
	background-color:#ffffff;
	color:#000000;
	border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
}
#writtendate {
	display:inline-block;
	padding:0 8px 0 8px;
	margin:3px 0 5px 5px;
	cursor:pointer; 
	width:70px; 
	height:30px;
	font-size:12px;
	background-color:#ffffff;
	color:#000000;
	border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
}
#issueddate {
	display:inline-block;
	padding:0 8px 0 8px;
	margin:3px 0 5px 5px;
	cursor:pointer; 
	width:70px; 
	height:30px;
	font-size:12px;
	background-color:#ffffff;
	color:#000000;
	border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
}
#effectivedate {
	display:inline-block;
	padding:0 8px 0 8px;
	margin:3px 0 5px 5px;
	cursor:pointer; 
	width:70px; 
	height:30px;
	font-size:12px;
	background-color:#ffffff;
	color:#000000;
	border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
}
#canceleddate {
	display:inline-block;
	padding:0 8px 0 8px;
	margin:3px 0 5px 5px;
	cursor:pointer; 
	width:70px; 
	height:30px;
	font-size:12px;
	background-color:#ffffff;
	color:#000000;
	border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
}
#renew_canceleddate {
	display:inline-block;
	padding:0 8px 0 8px;
	margin:3px 0 0 5px;
	cursor:pointer; 
	width:70px; 
	height:30px;
	font-size:12px;
	background-color:#ffffff;
	color:#000000;
	border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
}
.policy-status {
	float:left;
	width:310px;
    text-align:right;
}
.status-col {
	padding:2px;
	background-color:#a20004;
	color:#ffffff;
	font-size:14px;
	line-height:32px;
	text-align:center;
}
.policy-state {
	float:left;
	text-align:left;
}
.policy-date-fields {
	margin:0 auto 0 auto;
	padding:10px 10px 12px 10px;
	font-size:14px;
	clear:both;
	background-color:#cccccc;
	text-align:right;
}
.policy-edit-bar {
	margin:10px 20px 10px 20px;
	border-top:2px solid #cccccc;
	clear:both;
}
.policy-new-premium {
	float:right;
	margin:0 15px 0 0;
}
.policy-zip {
	float:right;
	margin:0 15px 0 0;
}
.policy-entry-select {
	width:130px;
}
.delete-table-container {
	margin:0 auto 0 auto;
    display:table;
    width:100%;
    border-collapse:collapse;
}
.delete-table-row {
     display:table-row;
     text-align:center;
}
.delete-col {
	width:75%;
	text-align:left;
	display:table-cell;
	padding:8px;
	background-color:#cccccc;
	font-size:14px;
	line-height:32px;
}
#commission-container {
	margin:10px auto 5px auto;
	width:890px;
	clear:both;
}
#commission-employee-box {
	float:left;
	margin:8px 0 5px 0;
	width:175px;
	height:90px;
	background-color:#cccccc;
	padding:5px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	text-align:center;
	font-size:14px;
}
#commission-period-box {
	float:right;
	margin:8px 0 5px 0;
	width:175px;
	height:90px;
	background-color:#cccccc;
	padding:5px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	text-align:center;
	font-size:14px;
}
.commission-search-area {
	margin:10px auto 5px auto;
	width:480px;
	height:60px;
	padding:5px 10px 5px 10px;
	background-color:#cccccc;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	text-align:left;
	font-size:14px;
	color:#333333;
	line-height:40px;
}
.commission-search-title {
	width:100%;
	height:15px;
	margin:0 0 5px 0;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	color:#333333;
	line-height:24px;
}
.commission-status-area {
	margin:12px auto 5px auto;
	width:870px;
	min-height:75px;
	padding:5px 5px 5px 10px;
	background-color:#a20004;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #ffffff;
	font-size:13px;
	color:#ffffff;
	line-height:18px;
}
.commission-employee-name {
	font-weight:bold;
	font-size:14px;
	padding:8px 0 8px 0;
}
.period-open {
	float:left;
	width:45px;
	height:35px;
	margin:0 -30px 0 20px;
	border:0;
	display:block;
}
.period-closed {
	float:left;
	width:45px;
	height:35px;
	margin:0 -15px 0 10px;
	border:0;
	display:block;
}
#close-period {
	float:left;
	margin:0 2px 0 8px;
	padding:0 0 0 10px;
    cursor:pointer; 
    width:160px; 
    height:34px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:12px;
	text-align:left;
	line-height:30px;
}
#close-period:hover {
    background-color:#000000;
    border:2px solid #000000;
}
#update-com-bonus {
	position:absolute;
	margin:50px 2px 0 50px;
	padding:0 0 0 10px;
    cursor:pointer; 
    width:140px; 
    height:37px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:12px;
	text-align:left;
	line-height:30px;
}
#update-com-bonus:hover {
    background-color:#000000;
    border:2px solid #000000;
}
#update-com-other {
	position:absolute;
	margin:135px 2px 0 50px;
	padding:0 0 0 10px;
    cursor:pointer; 
    width:140px; 
    height:37px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:12px;
	text-align:left;
	line-height:30px;
}
#update-com-other:hover {
    background-color:#000000;
    border:2px solid #000000;
}
#invite-employee {
	position:absolute;
	margin:128px 2px 0 -538px;
	padding:0 0 0 10px;
    cursor:pointer; 
    width:200px; 
    height:37px; 
    background-color:#a20004;
    color:#ffffff;
    border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:12px;
	text-align:left;
	line-height:30px;
}
#invite-employee:hover {
    background-color:#000000;
    border:2px solid #000000;
}
.search-text {
	color:#a20004;
}	
.short-select {
	width:85px;
}
.commission-table {
	margin:0 auto 0 auto;
	padding:10px;
	min-width:950px;
	text-align:center;
}
.commission-left-cell {
	float:left;
	min-width:700px;
}
.commission-right-cell {
	margin:0 0 0 700px;
}
.commission-new-policies {
	margin:0 0 0 10px;
	min-width:340px;
	min-height:75px;
	background-color:#a20004;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #a20004;
	font-size:13px;
	color:#000000;
	line-height:18px;
}
.commission-renewals {
	margin:10px 0 0 10px;
	min-width:340px;
	min-height:75px;
	background-color:#a20004;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #a20004;
	font-size:13px;
	color:#000000;
	line-height:18px;
}
.commission-special {
	float:left;
	width:400px;
	min-height:75px;
	background-color:#a20004;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #a20004;
	font-size:13px;
	color:#000000;
	line-height:18px;
}
.commission-earned {
	margin:0 0 0 415px;
	min-width:280px;
	min-height:75px;
	background-color:#a20004;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #a20004;
	font-size:13px;
	color:#000000;
	line-height:18px;
}
.commission-trends {
	margin:10px 0 0 0;
	min-height:75px;
	background-color:#a20004;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #a20004;
	font-size:13px;
	color:#000000;
	line-height:18px;
}
.commission-text-footer {
	color:#ffffff;
	line-height:26px;
	font-weight:bold;
}
.com-title {
	color:#ffffff;
	line-height:26px;
	font-weight:bold;
}
.com-special {
	text-align:left;
	padding:10px;
	font-weight:bold;
	font-size:14px;
}
.com-earned {
	text-align:left;
	padding:8px 5px 8px 5px;
	font-size:14px;
	font-style:italic;
}
.com-earned-bold {
	text-align:left;
	padding:8px 5px 8px 5px;
	font-weight:bold;
	font-size:14px;
}
.com-earned-amount {
	text-align:right;
	padding:8px 5px 8px 5px;
	font-size:14px;
}
.com-earned-amount-bold {
	text-align:right;
	padding:8px 5px 8px 5px;
	font-weight:bold;
	font-size:14px;
}
.com-caption {
	font-weight:bold;
	font-style:italic;
	line-height:14px;
	padding:0 0 5px 0;
}
.com-holder {
	padding:5px;
	background-color:#ffffff;
	min-height:175px;
}
.com-special-all {
	width:250px;
}
.com-type {
	font-weight:bold;
}






#dashboard-content {
	clear:both;
	margin:160px 0 32px 0;
	min-height:600px;
}



#myagency-content {
	clear:both;
	margin:205px 0 32px 0;
	text-align:center;
}
#myagency-container {
	margin:0 auto 0 auto;
	width:868px;
	clear:both;
}
.myagency-area {
	margin:-5px auto 15px auto;
	width:100%;
	text-align:center;
	background-color:#a20004;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #a20004;
	font-size:14px;
	color:#000000;
	line-height:18px;
}
#agency-employee-box {
	float:left;
	margin:15px 10px 0 0;
	width:190px;
	height:90px;
	background-color:#cccccc;
	padding:5px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	text-align:center;
	font-size:14px;
}
.agency-employee-name {
	font-weight:bold;
	font-size:14px;
	padding:8px 0 8px 0;
}
#agency-employee-current {
	float:left;
	margin:15px 0 0 0;
	width:638px;
	min-height:100px;
	background-color:#ffffff;
	border:2px solid #a20004;
	padding:15px 15px 15px 5px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	text-align:right;
	font-size:14px;
}
#employeehiredate {
	display:inline-block;
	padding:0 8px 0 8px;
	margin:3px 0 5px 5px;
	cursor:pointer; 
	width:70px; 
	height:30px;
	font-size:12px;
	background-color:#ffffff;
	color:#000000;
	border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
}
.employee-title {
	float:left;
	margin:5px 0 15px 0;
	text-align:center;
	font-size:20px;
	font-weight:bold;
}
.employee-icon {
	float:left;
	margin:-5px 0 0 220px;
	width:60px;
	height:46px;
	vertical-align:middle;
	display:block;
	border:0;
}
.table-row input[type=text] {
	width:60px;
	background-color:#ffffff;
	border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
}
.table-row-alt input[type=text] {
	width:60px;
	background-color:#cccccc;
	border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
}
.myagency-text-footer {
	color:#ffffff;
	line-height:26px;
	font-weight:bold;
}
.myagency-title {
	color:#ffffff;
	line-height:26px;
	font-weight:bold;
	text-align:center;
}
.myagency-info-holder {
	padding:15px 215px 15px 5px;
	background-color:#ffffff;
	text-align:right;
}
.myagency-settings-holder {
	padding:15px;
	background-color:#ffffff;
	text-align:center;
}
#myagency-popup {
	display:none;
	background-color:#000000;
	opacity:0.35;
	position:absolute;
	z-index:80;
	top:0px;
	left:0px;
	width:100%;
}
#myagency-window {
	display:none;
	position:fixed;
	z-index:81;
	width:800px;
	text-align:center;
	background-color:#ffffff;
	border:2px solid #ff0000;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-box-shadow:2px 2px 24px #000000;
	/* for FireFox 3.6+ */
	-moz-box-shadow:2px 2px 24px #000000;
	/* for IE 5.5 - 9 */
	box-shadow:2px 2px 24px #000000;
}
.myagency-message {
	display:none;
	margin:0 20px 10px 20px;
	font-size:20px;
	font-weight:bold;
	min-height:25px;
	padding:10px 25px 10px 25px;
	border-bottom:2px solid #cccccc;
}
.myagency-text-box {
	padding:0 45px 0 45px;
	text-align:left;
	font-weight:normal;
	font-size:14px;
}
.myagency-edit-bar {
	margin:10px 20px 10px 20px;
	border-top:2px solid #cccccc;
	clear:both;
}
#myagency-edit {
	display:none;
}
#myagency-text {
	display:none;
}
#myagency-delete {
	display:none;
}
#myagency-undelete {
	display:none;
}
#agency_employee_restore {
	display:none;
}
.myagency-delete-box {
	margin:20px 45px 0 45px;
	padding:10px;
	text-align:center;
	font-weight:normal;
	font-size:14px;
}
#emp_default_label {
	height:10px;
	margin:12px 0 -25px 0;
	font-size:12px;
	font-style:italic;
	font-weight:normal;
}
#emp_first_label {
	line-height:22px;
	font-style:italic;
}
#emp_last_label {
	font-style:italic;
}




#support-content {
	clear:both;
	margin:160px 0 32px 0;
	min-height:600px;
}














#resend {
	margin:0 auto 0 auto;
	text-align:center;
}

#resend .plain-btn {
	float:none;
	margin:0 auto;
	clear:both;
	cursor:pointer; 
	width:230px; 
	height:45px; 
	background-color:#a20004;
	color:#ffffff;
	border:2px solid #a20004;
	/* for Chrome 10+ and Safari 5+ */
	-webkit-border-radius:10px;
	/* for FireFox 3.6 - 12 */
	-moz-border-radius:10px;
	/* for IE 5.5 - 9 & firefox 13+ */
	border-radius:10px;
	font-size:18px;
	line-height:40px;
}
#resend .plain-btn:hover {
	background-color:#000000;
	border:2px solid #000000;
}
