@charset "UTF-8";

@font-face {
  font-family: "agency-nerd-2";
  src:url("/public/fonts/agency-nerd-2.eot");
  src:url("/public/fonts/agency-nerd-2.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/agency-nerd-2.woff") format("woff"),
    url("/public/fonts/agency-nerd-2.ttf") format("truetype"),
    url("/public/fonts/agency-nerd-2.svg#agency-nerd-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "agency-nerd-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "agency-nerd-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-agency-info:before {
  content: "a";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-billing:before {
  content: "b";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-cancel:before {
  content: "c";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-catchup:before {
  content: "d";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-compensation:before {
  content: "e";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-contact:before {
  content: "f";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-control-d:before {
  content: "g";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-control-d-large:before {
  content: "g";
  font-size:40px;
}
.icon-edit:before {
  content: "h";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-employees:before {
  content: "i";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-employees-large:before {
  content: "i";
  font-size:40px;
}
.icon-faq:before {
  content: "j";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-find:before {
  content: "k";
  padding:0 20px 0 10px;
  font-size:28px;
  vertical-align:middle;
}
.icon-find-large:before {
  content: "k";
  font-size:40px;
}
.icon-folder:before {
  content: "l";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-gears:before {
  content: "m";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-goals:before {
  content: "n";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-home:before {
  content: "o";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-key:before {
  content: "p";
  padding:0 10px 0 0;
  font-size:36px;
  vertical-align:middle;
}
.icon-logout:before {
  content: "q";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-member:before {
  content: "r";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-menu:before {
  content: "s";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-menu-large:before {
  content: "s";
  font-size:36px;
}
.icon-my-agency:before {
  content: "t";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-my-agency-large:before {
  content: "t";
  font-size:40px;
}
.icon-new:before {
  content: "u";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-plan:before {
  content: "v";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-policy:before {
  content: "w";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-policy-entry:before {
  content: "x";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-policy-entry-large:before {
  content: "w";
  font-size:40px;
}
.icon-premium:before {
  content: "y";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-products:before {
  content: "z";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-reports:before {
  content: "A";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-reports-large:before {
  content: "A";
  font-size:40px;
}
.icon-search:before {
  content: "B";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-support:before {
  content: "C";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-support-large:before {
  content: "C";
  font-size:40px;
}
.icon-trash:before {
  content: "D";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-unmatched:before {
  content: "E";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-upload:before {
  content: "F";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-user:before {
  content: "G";
  font-size:42px;
}
.icon-video:before {
  content: "H";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-video-large:before {
  content: "H";
  font-size:40px;
}
.icon-view:before {
  content: "I";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-whiteboard:before {
  content: "J";
  padding:0 20px 0 10px;
  font-size:30px;
  vertical-align:middle;
}
.icon-whiteboard-large:before {
  content: "J";
  font-size:40px;
}

