/* IE STYLES */


/* ************ MENU BUTTIONS ************* */

.icon-whiteboard-large {
  margin:-10px 0 0 -10px;
}
.icon-whiteboard-large:before {
  content:url('/public/img/whiteboard_btn_large.png');
}
.home-btn:hover .icon-whiteboard-large:before {
  content:url('/public/img/whiteboard_btn_large_roll.png');
}

.icon-my-agency-large {
  margin:-10px 0 0 -10px;
}
.icon-my-agency-large:before {
  content:url('/public/img/myagency_btn_large.png');
}
.home-btn:hover .icon-my-agency-large:before {
  content:url('/public/img/myagency_btn_large_roll.png');
}

.icon-policy-entry-large {
  margin:-10px 0 0 -10px;
}
.icon-policy-entry-large:before {
  content:url('/public/img/policyentry_btn_large.png');
}
.home-btn:hover .icon-policy-entry-large:before {
  content:url('/public/img/policyentry_btn_large_roll.png');
}

.icon-control-d-large {
  margin:-10px 0 0 -10px;
}
.icon-control-d-large:before {
  content:url('/public/img/controld_btn_large.png');
}
.home-btn:hover .icon-control-d-large:before {
  content:url('/public/img/controld_btn_large_roll.png');
}

.icon-reports-large {
  margin:-10px 0 0 -10px;
}
.icon-reports-large:before {
  content:url('/public/img/reports_btn_large.png');
}
.home-btn:hover .icon-reports-large:before {
  content:url('/public/img/reports_btn_large_roll.png');
}

.icon-employees-large {
  margin:-10px 0 0 -10px;
}
.icon-employees-large:before {
  content:url('/public/img/employees_btn_large.png');
}
.home-btn:hover .icon-employees-large:before {
  content:url('/public/img/employees_btn_large_roll.png');
}

.icon-video-large {
  margin:-10px 0 0 -10px;
}
.icon-video-large:before {
  content:url('/public/img/howtovideos_btn_large.png');
}
.home-btn:hover .icon-video-large:before {
  content:url('/public/img/howtovideos_btn_large_roll.png');
}

.icon-support-large {
  margin:-10px 0 0 -10px;
}
.icon-support-large:before {
  content:url('/public/img/support_btn_large.png');
}
.home-btn:hover .icon-support-large:before {
  content:url('/public/img/support_btn_large_roll.png');
}


/* ************ NAV BUTTIONS ************* */

.icon-user:before {
  float:left;
  margin:-3px 0 0 -1px;	
  content:url('/public/img/user_btn_large_roll.png');
}

.icon-menu-large:before {
  float:left;
  margin:-6px 0 0 -4px;	
  content:url('/public/img/menu_btn_large_roll.png');
}

.icon-gears {
  padding:5px 0 0 0;
  height:25px;
}
.button-normal .icon-gears:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/settings_btn_small_roll.png');
}
.button-select .icon-gears:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/settings_btn_small.png');
}

.icon-logout {
  padding:5px 0 0 0;
  height:25px;
}
.button-normal .icon-logout:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/logout_btn_small_roll.png');
}

.icon-key:before {
  display:inline-block;
  margin:8px 10px 0 -45px;
  vertical-align:top;
  content:url('/public/img/login_btn_large_roll.png');
}

.icon-find:before {
  content:url('/public/img/search_btn_small_roll.png');
}


/* ************ SIDE BUTTIONS ************* */

.icon-home {
  padding:5px 0 0 0;
  height:25px;
}
.button-normal .icon-home:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/menu_btn_small_roll.png');
}
.button-select .icon-home:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/menu_btn_small.png');
}

.icon-whiteboard {
  padding:5px 0 0 0;
  height:25px;
}
.button-normal .icon-whiteboard:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/whiteboard_btn_small_roll.png');
}
.button-select .icon-whiteboard:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/whiteboard_btn_small.png');
}

.icon-my-agency {
  padding:5px 0 0 0;
  height:25px;
}
.button-normal .icon-my-agency:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/myagency_btn_small_roll.png');
}
.button-select .icon-my-agency:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/myagency_btn_small.png');
}
.button-select-sub .icon-my-agency:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/myagency_btn_small.png');
}

.icon-agency-info {
  padding:5px 0 0 0;
  height:25px;
}
.icon-agency-info:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/agencyinfo_btn_small.png');
}

.icon-billing {
  padding:5px 0 0 0;
  height:25px;
}
.icon-billing:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/billing_btn_small.png');
}

.icon-goals {
  padding:5px 0 0 0;
  height:25px;
}
.icon-goals:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/goals_btn_small.png');
}

.icon-employees {
  padding:5px 0 0 0;
  height:25px;
}
.icon-employees:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/employees_btn_small.png');
}

.icon-policy-entry {
  padding:5px 0 0 0;
  height:25px;
}
.button-normal .icon-policy-entry:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/policyentry_btn_small_roll.png');
}
.button-select .icon-policy-entry:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/policyentry_btn_small.png');
}
.button-select-sub .icon-policy-entry:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/policyentry_btn_small.png');
}

.icon-unmatched {
  padding:5px 0 0 0;
  height:25px;
}
.icon-unmatched:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/unmatched_btn_small.png');
}

.icon-control-d {
  padding:5px 0 0 0;
  height:25px;
}
.button-normal .icon-control-d:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/controld_btn_small_roll.png');
}
.button-select .icon-control-d:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/controld_btn_small.png');
}
.button-select-sub .icon-control-d:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/controld_btn_small.png');
}

.icon-upload {
  padding:5px 0 0 0;
  height:25px;
}
.icon-upload:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/upload_btn_small.png');
}

.icon-reports {
  padding:5px 0 0 0;
  height:25px;
}
.button-normal .icon-reports:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/reports_btn_small_roll.png');
}
.button-select .icon-reports:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/reports_btn_small.png');
}
.button-select-sub .icon-reports:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/reports_btn_small.png');
}

.icon-products {
  padding:5px 0 0 0;
  height:25px;
}
.icon-products:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/productline_btn_small.png');
}

.icon-member {
  padding:5px 0 0 0;
  height:25px;
}
.icon-member:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/teammembers_btn_small.png');
}

.icon-policy {
  padding:5px 0 0 0;
  height:25px;
}
.icon-policy:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/policies_btn_small.png');
}

.icon-premium {
  padding:5px 0 0 0;
  height:25px;
}
.icon-premium:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/premiums_btn_small.png');
}

.icon-compensation {
  padding:5px 0 0 0;
  height:25px;
}
.icon-compensation:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/compensation_btn_small.png');
}

.icon-control-d {
  padding:5px 0 0 0;
  height:25px;
}
.icon-control-d:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/controld_btn_small.png');
}

.icon-employees {
  padding:5px 0 0 0;
  height:25px;
}
.button-normal .icon-employees:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/employees_btn_small_roll.png');
}
.button-select .icon-employees:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/employees_btn_small.png');
}

.icon-support {
  padding:5px 0 0 0;
  height:25px;
}
.button-normal .icon-support:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/support_btn_small_roll.png');
}
.button-select .icon-support:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/support_btn_small.png');
}
.button-select-sub .icon-support:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/support_btn_small.png');
}

.icon-faq {
  padding:5px 0 0 0;
  height:25px;
}
.icon-faq:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/faq_btn_small.png');
}

.icon-contact {
  padding:5px 0 0 0;
  height:25px;
}
.icon-contact:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/contact_btn_small.png');
}

.icon-video {
  padding:5px 0 0 0;
  height:25px;
}
.icon-video:before {
  float:left;
  margin:-8px 15px 0 5px;
  content:url('/public/img/howtovideos_btn_small.png');
}

